@charset "UTF-8";

@import "base/generic";

.showInPrintView {
  display: none;
}

.language-text {
  overflow-wrap: break-word !important;
}

@media print {
  .hideInPrintView {
    display: none;
  }

  .showInPrintView {
    display: initial;
  }
}