@charset "UTF-8";

@use "base/generic";
@use "base/resume";

.showInPrintView {
  display: none;
}

.language-text {
  overflow-wrap: break-word !important;
}

@media print {
  .hideInPrintView {
    display: none;
  }

  .showInPrintView {
    display: initial;
  }
}
